/**
 * file: css/style.css
 **/
@import url("https://use.typekit.net/noa7koe.css");
/***********************************************/
/********* stylesheet for header**************/
header {
    background-image: url(../images/efter%C3%A5rlanding.png);
  background-position: top;
    height: 500px;
}

h2 {
    margin-top: 0;
    padding-top:400px;
}

body {
    font-family: liebeerika, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #D45B12;
    font-size: 80px;
}

/***********************************************/
/********* stylesheet for footer **************/
footer {
    background-image: url(../images/Efter%C3%A5rsfooter.png);
    height: 500px;
}

/***********************************************/
/********* stylesheet for mapbox **************/
body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 400px;
}
/***********************************************/
/********* stylesheet for efteråsaktivitet **************/
 .Værdier{
        display: flex;
        flex-direction: row;
    justify-content: center;
        align-items: center;
          width: 100%;
            
    }
    .Værdier img{
        width: 20%;
    }
/***********************************************/
/********* stylesheet for weather **************/

#drujs{
    text-align: left;
}